.georgian-foods{
    margin-left: 500px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.grid{
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 25px;
}
.row{
    margin: 0 auto;
}
.copyright{
    text-align: center;
}